attrs==25.4.0
cairocffi==1.7.1
cairosvg==2.8.2
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
choreographer==1.2.0
cssselect2==0.8.0
defusedxml==0.7.1
fastjsonschema==2.21.2
greenlet==3.2.4
idna==3.11
iniconfig==2.3.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter-client==8.6.3
jupyter-core==5.9.1
kaleido==1.2.0
logistro==2.0.1
msgpack==1.1.2
narwhals==2.10.2
nbformat==5.10.4
orjson==3.11.4
packaging==25.0
pillow==12.0.0
platformdirs==4.5.0
plotly==6.4.0
pluggy==1.6.0
pnglatex==1.1
pycparser==2.23
pygments==2.19.2
pynvim==0.6.0
pyperclip==1.11.0
pytest==8.4.2
pytest-timeout==2.4.0
python-dateutil==2.9.0.post0
pyzmq==27.1.0
referencing==0.37.0
requests==2.32.5
rpds-py==0.28.0
simplejson==3.20.2
six==1.17.0
tinycss2==1.4.0
tornado==6.5.2
traitlets==5.14.3
urllib3==2.5.0
webencodings==0.5.1
